body {
  font-family: Roboto;
  width: 1120px;
  margin-left: 3px;
}
td.center {
  text-align: center;
}
td.right {
  text-align: right;
}
td.main-stars {
  font-size: 1em;
  font-weight: bold;
  vertical-align: top;
}
td.good-stars, td.bad-stars {
  font-size: 0.8em;
  vertical-align: top;
}

td.top, td.bottom {
  font-size: 0.75em;
}
td.bottom {
  line-height: 2.5em;
  vertical-align: top;
}
td.top, td.bottom.center {
  font-weight: bold;
}
td.top.left, td.top.right {
  font-size: 0.85em;
  font-weight: bold;
}

table.result-table {
  border-style: groove;
  border-color: darkgreen;
  border-spacing: 0px;
}
table.palace {
  background-color: lightyellow;
}
table.palace td {
  padding: 3px;
}
table.self.palace td.top.left, table.body.palace td.top.right {
  color: red;
}
td.bottom.right {
  color: blue;
}
td.bottom.left {
  color: grey;
}
div span {
  display: block;
}
div.center-info {
  margin: auto;
  width: 70%;
  line-height: 2.5em;
}

div.tuan-triet {
  /*display: none;*/
  position: absolute;
  width: 50px;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 16px;
  color: white;
  background: red;
  border: 1px;
  border-style: solid;
  border-color: black;
}

canvas#connected-lines {
  position: absolute;
}

div#controls {
  padding-bottom: 3px;
}
div#controls td {
  padding: 0px 5px;
}