<!DOCTYPE html>
<html>
<head>
  <title>Ziwei Calculator</title>
</head>
<body>
  <table>
    <tr>
      Test
    </tr>
    <tr>
      Test
    </tr>
    <tr>
      Test
    </tr>
  </table>
</body>
</html>